{% extends 'base.html.twig' %}

{% block title %}My profile{% endblock %}

{% block content %}
    {% if app.user is null %}
        <div class="mb-3">
            You are not logged in , <a href="{{ path('app_login') }}">Sign in</a>
        </div>
    {% else %}
        {{ form_start(form) }}
            {{ form_row(form.password.first) }}
            {{ form_row(form.password.second) }}
            <button class="btn btn-lg btn-primary" type="submit">Save</button>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}